@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

@font-face{
    font-family: Anton;
    src: url(./fonts/Anton/Anton-Regular.ttf)
}
@font-face{
    font-family: zalando;
    src: url(./fonts/Zalando_Sans_Expanded/ZalandoSansExpanded-VariableFont_wght.ttf)
}

a.active hr{
    display: block;
}

/* @media(max-width:640px){
    a.active{
        background-color: black;
        color:white;
    }
} */